.button1{
    padding: 10px;
    border-radius: 5px;
    margin-right: 50px;
    background-color: rgb(55, 148, 19);
    color: #fff;
    font-size: 1.5rem;
}
.button2{
    padding: 10px;
    border-radius: 5px;
    margin-right: 50px;
    background-color: rgb(55, 148, 19);
    color: #fff;
    font-size: 1.5rem;
}

.btnopacity{
    opacity: .3;
}